<div class="p-grid p-justify-center">
    <div class="p-col-10 p-md-6 p-lg-4">
      <p-card header="Angular Calculator" subheader="Welcome to Angular Calculator! Please register yourself or, if you're already registered, login." styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img src="assets/images/headercard.jpg" alt="card">
        </ng-template>
        <ng-template pTemplate="footer">
          <p-button label = "Login" icon = "pi pi-user" routerLink="/login"></p-button>
          <p-button label = "Register" icon = "pi pi-user-plus" routerLink="/register"></p-button>
      </ng-template>
      </p-card>
    </div>
  </div>