<div class="p-grid p-justify-center">
    <div class="p-col-10 p-sm-6 p-md-4">
        <p-card>
            <i class="fa-solid fa-calculator fa-4x" style="color: #4FE8D0"></i>
            <h2>Login</h2>
            <div class="p-grid">
                <div class="p-col-12">
                    <label for="">Usuário: </label>
                    <input [(ngModel)]="usuario.nome" class="p-col-12" type="text" pInputText>
                </div>
                <div class="p-col-12">
                    <label for="">Senha: </label>
                    <input [(ngModel)]="usuario.senha" class="p-col-12" type="password" pInputText>
                    <div class="p-col-12">
                        <p-button class="p-grid p-justify-center" label = "Sign In" icon = "pi pi-arrow-up" (onClick)="fazerLogin()"></p-button>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</div>