a {
    text-decoration: none;    
}

.p-card {
    margin-top: 1.5rem;
}

.p-card .p-card-footer {
    padding: 0;
}

.p-button:active {
    transform: scale(0.96);
}

p-button {
    margin: 20px;

}

.p-card .p-card-footer {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-card {
    text-align: center;
}